name: NodeJS Github Actions 

on: 
  push:
    branches: 
      - main
      - develop
      - staging
      - Pre-production
      - DEV

  pull_request: 
    branches: 
      - main
      - develop
      - staging
      - Pre-production
      - DEV

    workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest 

    steps:
      - name: Checkout code 
        uses: actions/checkout@v3
      
      - name: setup node 
        uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: install dependencies 
        run: npm install 
     

  test: 
    runs-on: ubuntu-latest 
    steps:
      - name: Checkout code 
        uses: actions/checkout@v3
      
      - name: setup node 
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: install dependencies 
        run: npm install

      - name: Run test 
        run: npm test

      - name: Test prompt 
        run: echo "test has been executed"


  DeployDev:
    name: Deploy to DEV Environment
    if: github.event_name == 'pull_request'
    needs: [test]
    runs-on: ubuntu-latest
    environment:
      name: DEV
      url: "http://dev.Reach.com"
    steps:
      - name: Deploy
        run: echo "Deploying to DEV Environment"
        #This is where the deployment phase should be coded

  DeploySIT:
    name: Deploy to SIT Environment
    if: github.event.ref == 'refs/heads/DEV'
    needs: [test]
    runs-on: ubuntu-latest
    environment:
      name: develop
      url: "http://SIT.Reach.com"
    steps:
      - name: Deploy
        run: echo "Deploying to SIT Environment"
        #This is where the deployment phase should be coded

  DeployStaging:
    name: Deploy to Staging Environment
    if: github.event.ref == 'refs/heads/DEV'
    needs: [DeploySIT]
    runs-on: ubuntu-latest
    environment:
      name: staging
      url: "http://Staging.Reach.com"
    steps:
      - name: Deploy
        run: echo "Deploying to Staging Environment"
        #This is where the deployment phase should be coded

  DeployPre-prodution:
    name: Deploy to Pre-prod Environment
    if: github.event.ref == 'refs/heads/DEV'
    needs: [DeployStaging]
    runs-on: ubuntu-latest
    environment:
      name: Pre-production
      url: "http://Pre-prod.Reach.com"
    steps:
      - name: Deploy
        run: echo "Deploying to Pre-prod Environment"
        #This is where the deployment phase should be coded\
      
  DeployMaster:
    name: Deploy to Master Environment
    if: github.event.ref == 'refs/heads/DEV'
    needs: [DeployPre-prodution]
    runs-on: ubuntu-latest
    environment:
      name: master
      url: "http://www.Reach.com"
    steps:
      - name: Deploy
        run: echo "Deploying to Production Environment"
        #This is where the deployment phase should be coded

